@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #f2634b !important;
}
.bg-success {
  background-color: #0f7699 !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #f2634b !important;
  border-color: #f2634b !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #e02e10 !important;
  border-color: #e02e10 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #e02e10 !important;
  border-color: #e02e10 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #f2634b !important;
  border-color: #f2634b !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e02e10 !important;
  border-color: #e02e10 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e02e10 !important;
  border-color: #e02e10 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #0f7699 !important;
  border-color: #0f7699 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #084053 !important;
  border-color: #084053 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #084053 !important;
  border-color: #084053 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #c9290e;
  color: #c9290e;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #f2634b;
  border-color: #f2634b;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #f2634b !important;
  border-color: #f2634b !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #c9290e;
  color: #c9290e;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #f2634b;
  border-color: #f2634b;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f2634b !important;
  border-color: #f2634b !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #062e3c;
  color: #062e3c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #0f7699;
  border-color: #0f7699;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #0f7699 !important;
  border-color: #0f7699 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #f2634b !important;
}
.text-secondary {
  color: #f2634b !important;
}
.text-success {
  color: #0f7699 !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #c9290e !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #c9290e !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #062e3c !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f2634b;
  border-color: #f2634b;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #f2634b;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #3cbfec;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #f2634b;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #f2634b;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #f2634b;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #f2634b;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #f2634b;
  border-bottom-color: #f2634b;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #f2634b !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #f2634b !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23f2634b' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-s0zyGaSip1 .navbar {
  background: #ffffff;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-s0zyGaSip1 .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-s0zyGaSip1 a {
  font-style: normal;
}
.cid-s0zyGaSip1 .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-s0zyGaSip1 .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-s0zyGaSip1 .nav-item:focus,
.cid-s0zyGaSip1 .nav-link:focus {
  outline: none;
}
.cid-s0zyGaSip1 .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-s0zyGaSip1 .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-s0zyGaSip1 .menu-logo {
  margin-right: auto;
}
.cid-s0zyGaSip1 .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-s0zyGaSip1 .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-s0zyGaSip1 .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-s0zyGaSip1 .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-s0zyGaSip1 .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-s0zyGaSip1 .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-s0zyGaSip1 .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-s0zyGaSip1 .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-s0zyGaSip1 .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-s0zyGaSip1 .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-s0zyGaSip1 .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-s0zyGaSip1 .dropdown .dropdown-menu {
  background: #ffffff;
  visibility: hidden;
  display: block;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-s0zyGaSip1 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-s0zyGaSip1 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s0zyGaSip1 .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-s0zyGaSip1 .dropdown.open > .dropdown-menu {
  visibility: visible;
}
.cid-s0zyGaSip1 .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-s0zyGaSip1 .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-s0zyGaSip1 .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-s0zyGaSip1 .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-s0zyGaSip1 .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-s0zyGaSip1 .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-s0zyGaSip1 .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-s0zyGaSip1 button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-s0zyGaSip1 button.navbar-toggler:focus {
  outline: none;
}
.cid-s0zyGaSip1 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-s0zyGaSip1 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s0zyGaSip1 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s0zyGaSip1 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s0zyGaSip1 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s0zyGaSip1 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s0zyGaSip1 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s0zyGaSip1 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s0zyGaSip1 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s0zyGaSip1 .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-s0zyGaSip1 .collapsed .btn {
  display: -webkit-flex;
}
.cid-s0zyGaSip1 .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-s0zyGaSip1 .collapsed .navbar-collapse.collapsing,
.cid-s0zyGaSip1 .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-s0zyGaSip1 .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-s0zyGaSip1 .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-s0zyGaSip1 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-s0zyGaSip1 .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-s0zyGaSip1 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-s0zyGaSip1 .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-s0zyGaSip1 .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-s0zyGaSip1 .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-s0zyGaSip1 .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-s0zyGaSip1 .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-s0zyGaSip1 .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-s0zyGaSip1 .collapsed button.navbar-toggler {
  display: block;
}
.cid-s0zyGaSip1 .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-s0zyGaSip1 .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-s0zyGaSip1 .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-s0zyGaSip1 .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-s0zyGaSip1 .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-s0zyGaSip1 .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-s0zyGaSip1.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-s0zyGaSip1 img {
    height: 3.8rem !important;
  }
  .cid-s0zyGaSip1 .btn {
    display: -webkit-flex;
  }
  .cid-s0zyGaSip1 button.navbar-toggler {
    display: block;
  }
  .cid-s0zyGaSip1 .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-s0zyGaSip1 .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-s0zyGaSip1 .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-s0zyGaSip1 .navbar-collapse.collapsing,
  .cid-s0zyGaSip1 .navbar-collapse.show {
    display: block !important;
  }
  .cid-s0zyGaSip1 .navbar-collapse.collapsing .navbar-nav,
  .cid-s0zyGaSip1 .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-s0zyGaSip1 .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-s0zyGaSip1 .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-s0zyGaSip1 .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-s0zyGaSip1 .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-s0zyGaSip1 .navbar-collapse.collapsing .navbar-buttons,
  .cid-s0zyGaSip1 .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-s0zyGaSip1 .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-s0zyGaSip1 .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-s0zyGaSip1 .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-s0zyGaSip1 .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-s0zyGaSip1 .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-s0zyGaSip1 .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-s0zyGaSip1 .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-s0zyGaSip1 .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-s0zyGaSip1 .nav-link:hover,
.cid-s0zyGaSip1 .dropdown-item:hover {
  color: #767676 !important;
}
.cid-s0zyIsBDmq {
  background-image: url("../../../assets/images/background2.jpg");
}
.cid-s0zyIsBDmq H1 {
  text-align: left;
}
.cid-s0zyIsBDmq .mbr-text,
.cid-s0zyIsBDmq .mbr-section-btn {
  text-align: left;
}
.cid-s0K8YSGh90 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-s0K8YSGh90 .mbr-text {
  color: #767676;
  text-align: center;
}
.cid-s0K8YSGh90 h4 {
  text-align: center;
}
.cid-s0K8YSGh90 p {
  text-align: center;
}
.cid-s0K8YSGh90 .card-img span {
  font-size: 96px;
  color: #149dcc;
}
.cid-s0KfHxD7vc {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #231f20;
}
.cid-s0KfHxD7vc .content-slider {
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-s0KfHxD7vc .modal-body .close {
  background: #1b1b1b;
}
.cid-s0KfHxD7vc .modal-body .close span {
  font-style: normal;
}
.cid-s0KfHxD7vc .carousel-inner > .active,
.cid-s0KfHxD7vc .carousel-inner > .next,
.cid-s0KfHxD7vc .carousel-inner > .prev {
  display: -webkit-flex;
}
.cid-s0KfHxD7vc .carousel-control .icon-next,
.cid-s0KfHxD7vc .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-s0KfHxD7vc .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-s0KfHxD7vc .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-s0KfHxD7vc .content-slider-wrap {
    width: 100%!important;
  }
}
.cid-s0KfHxD7vc .boxed-slider {
  position: relative;
  padding: 93px 0;
}
.cid-s0KfHxD7vc .boxed-slider > div {
  position: relative;
}
.cid-s0KfHxD7vc .container img {
  width: 100%;
}
.cid-s0KfHxD7vc .container img + .row {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.cid-s0KfHxD7vc .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-s0KfHxD7vc .mbr-table-cell {
  padding: 0;
}
.cid-s0KfHxD7vc .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-s0KfHxD7vc .carousel-caption {
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  display: -webkit-flex;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-align-items: center;
}
.cid-s0KfHxD7vc .mbr-overlay {
  z-index: 1;
}
.cid-s0KfHxD7vc .container-slide.container {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-s0KfHxD7vc .carousel-item {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -o-transition: -o-transform 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
@media (max-width: 576px) {
  .cid-s0KfHxD7vc .carousel-item .container {
    width: 100%;
  }
}
.cid-s0KfHxD7vc .carousel-item-next.carousel-item-left,
.cid-s0KfHxD7vc .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.cid-s0KfHxD7vc .active.carousel-item-right,
.cid-s0KfHxD7vc .carousel-item-next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.cid-s0KfHxD7vc .active.carousel-item-left,
.cid-s0KfHxD7vc .carousel-item-prev {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.cid-s0KfHxD7vc .mbr-slider .carousel-control {
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -1.5rem;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all .3s;
}
.cid-s0KfHxD7vc .mbr-slider .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-s0KfHxD7vc .mbr-slider .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-s0KfHxD7vc .mbr-slider .carousel-control .mbr-iconfont {
  font-size: 1.5rem;
}
@media (max-width: 767px) {
  .cid-s0KfHxD7vc .mbr-slider .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-s0KfHxD7vc .mbr-slider .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-s0KfHxD7vc .mbr-slider .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: .5;
  transition: all .3s;
}
.cid-s0KfHxD7vc .mbr-slider .carousel-indicators li.active,
.cid-s0KfHxD7vc .mbr-slider .carousel-indicators li:hover {
  opacity: .9;
}
.cid-s0KfHxD7vc .mbr-slider .carousel-indicators li::after,
.cid-s0KfHxD7vc .mbr-slider .carousel-indicators li::before {
  content: none;
}
.cid-s0KfHxD7vc .mbr-slider .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 576px) {
  .cid-s0KfHxD7vc .mbr-slider .carousel-indicators {
    display: none !important;
  }
}
.cid-s0KfHxD7vc .mbr-slider > .container img {
  width: 100%;
}
.cid-s0KfHxD7vc .mbr-slider > .container img + .row {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-s0KfHxD7vc .mbr-slider > .container .carousel-indicators {
  margin-bottom: 3px;
}
@media (max-width: 576px) {
  .cid-s0KfHxD7vc .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-s0KfHxD7vc .mbr-slider .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-s0KfHxD7vc .mbr-slider .mbr-table-cell {
  padding: 0;
}
.cid-s0KfHxD7vc .carousel-item .container.container-slide {
  position: initial;
  width: auto;
  min-height: 0;
}
.cid-s0KfHxD7vc .full-screen .slider-fullscreen-image {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.cid-s0KfHxD7vc .full-screen .slider-fullscreen-image.active {
  display: -o-flex;
}
.cid-s0KfHxD7vc .full-screen .container {
  width: auto;
  padding-right: 0;
  padding-left: 0;
}
.cid-s0KfHxD7vc .full-screen .carousel-item .container.container-slide {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-s0KfHxD7vc .full-screen .carousel-item .container.container-slide img {
  display: none;
}
.cid-s0KfHxD7vc .mbr-background-video-preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cid-s0KfHxD7vc .mbr-overlay ~ .container-slide {
  z-index: auto;
}
.cid-s0KfHxD7vc .mbr-slider.slide .container {
  overflow: hidden;
  padding: 0;
}
.cid-s0KfHxD7vc .carousel-inner {
  height: 100%;
}
.cid-s0KfHxD7vc .slider-fullscreen-image {
  height: 100%;
  background: transparent !important;
}
.cid-s0KfHxD7vc .image_wrapper {
  height: 400px;
  width: 100%;
  position: relative;
  display: inline-block;
}
.cid-s0KfHxD7vc .image_wrapper img {
  width: auto !important;
  height: 100%;
}
.cid-s0KfHxD7vc .carousel-item .container-slide {
  text-align: center;
}
.cid-s0KfHxD7vc .content-slider-wrap {
  width: 60%;
}

.cid-s0KfHxD7vc .lightslider img {
  height: 100%;
  transform: translate3d(240px, 0px, 0px);
}

@media (max-width: 1500px) {
  .cid-s0KfHxD7vc .lightslider img {
    width: 150%;
    transform: translate3d(0px, 0px, 0px);
  }
}

@media (max-width: 960px) {
  .cid-s0KfHxD7vc .lightslider img {
    width: 100%;
    transform: translate3d(0px, 0px, 0px);
  }
}

.cid-s0KfHxD7vc .lightslider .lslide {
  /*margin: 0 500px;*/
}

.cid-s0KlvlDgUV {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-s0KlvlDgUV .title {
  margin-bottom: 2rem;
}
.cid-s0KlvlDgUV .mbr-section-subtitle {
  color: #767676;
}
.cid-s0KlvlDgUV a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-s0KlvlDgUV a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-s0KlvlDgUV textarea.form-control {
  min-height: 188px;
}
.cid-s0KhMMzP72 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #231f20;
}
@media (max-width: 767px) {
  .cid-s0KhMMzP72 .content {
    text-align: center;
  }
  .cid-s0KhMMzP72 .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-s0KhMMzP72 .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-s0KhMMzP72 .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-s0KhMMzP72 .media-wrap img {
  height: 6rem;
}
@media (max-width: 767px) {
  .cid-s0KhMMzP72 .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-s0KhMMzP72 .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-s0KhMMzP72 .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-s0KhMMzP72 .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-s0KhMMzP72 .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-s0KhMMzP72 .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-s0KhMMzP72 .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-s0KhMMzP72 .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}


.cid-s0KBuOo6iY {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-s0KBuOo6iY h2 {
  text-align: left;
}
.cid-s0KBuOo6iY h4 {
  text-align: left;
  font-weight: 500;
}
.cid-s0KBuOo6iY p {
  color: #767676;
  text-align: left;
}
.cid-s0KBuOo6iY .aside-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-s0KBuOo6iY .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-s0KBuOo6iY .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-s0KBuOo6iY .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-s0KBuOo6iY .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-s0KBuOo6iY .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-s0KBuOo6iY .mbr-figure {
    padding-left: 0;
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-s0KBuOo6iY .mbr-figure {
    padding-left: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 300px) {
  .cid-s0KBuOo6iY .card-img span {
    font-size: 40px !important;
  }
}

.cid-s0KUbkMUuI {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #fdf4f2;
}
.cid-s0KUbkMUuI h2 {
  text-align: left;
}
.cid-s0KUbkMUuI h4 {
  text-align: left;
  font-weight: 500;
}
.cid-s0KUbkMUuI p {
  color: #767676;
  text-align: left;
}
.cid-s0KUbkMUuI .aside-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-s0KUbkMUuI .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-s0KUbkMUuI .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-s0KUbkMUuI .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-s0KUbkMUuI .card-img {
  padding-left: 2rem;
  width: auto;
}
.cid-s0KUbkMUuI .card-img span {
  font-size: 72px;
  color: #707070;
}
.cid-s0KUbkMUuI .mbr-title,
.cid-s0KUbkMUuI .mbr-text {
  text-align: right;
}
@media (min-width: 992px) {
  .cid-s0KUbkMUuI .mbr-figure {
    padding-right: 0;
    padding-left: 4rem;
  }
  .cid-s0KUbkMUuI .media-container-row {
    -webkit-flex-direction: row-reverse;
  }
}
@media (max-width: 991px) {
  .cid-s0KUbkMUuI .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
  .cid-s0KUbkMUuI .media-container-row {
    -webkit-flex-direction: row-reverse;
  }
}
@media (max-width: 300px) {
  .cid-s0KUbkMUuI .card-img span {
    font-size: 40px !important;
  }
}

.cid-s1Zd5WxV8r {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-s1Zd5WxV8r h2 {
  text-align: center;
}
.cid-s1Zd5WxV8r h3 {
  text-align: center;
  font-weight: 300;
}
.cid-s1Zd5WxV8r p {
  color: #767676;
}
.cid-s1Zd5WxV8r img {
  object-fit: cover;
}
.cid-s1Zd5WxV8r .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-s1Zd5WxV8r .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  /*flex-shrink: 0;*/
  /*-webkit-flex-shrink: 0;*/
}
.cid-s1Zd5WxV8r .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
.cid-s1Zd5WxV8r .mbr-section-subtitle {
  color: #767676;
  text-align: justify;
}
.cid-s1Zd5WxV8r .card-title {
  font-weight: 500;
}
.cid-s1Zd5WxV8r .card-img {
  text-align: inherit;
}
.cid-s1Zd5WxV8r .card-img span {
  font-size: 48px;
  color: #707070;
}
.cid-s1Zd5WxV8r .mbr-figure img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-s1Zd5WxV8r .mbr-figure {
    padding-right: 2rem;
    padding-left: 2rem;
    height: 100%;
  }
}
@media (max-width: 991px) {
  .cid-s1Zd5WxV8r .mbr-figure {
    padding-bottom: 2rem;
    padding-top: 1rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-s1Zd5WxV8r .block-content {
    flex-direction: row;
    -webkit-flex-direction: row;
    text-align: center;
  }
  .cid-s1Zd5WxV8r .block-content .card {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
  }
  .cid-s1Zd5WxV8r .card:nth-child(1) {
    padding-bottom: 0!important;
  }
}

@media (max-width: 420px) {
  .mbr-figure {
    /*padding: 0;*/ 
  }
  .mbr-figure img {
    width: 100%;
  }
}

.img-slide {
  width: 300px;
  min-width: 250px;
}

.img-feature {
  width: 400px;
}